<app-body></app-body>
<div class="container">
  <h1 class="titulo bg-secondary" align='center'><i class="fas fa-shopping-cart"></i> Carrito</h1>
  <div class="card col-12 bg-transparent border-secondary">
    <div class="card-body card-group">
      <div class="col-4">
        <h4 class="card-title text-center">Productos</h4>
        <h5 class="card-text">
          Cuaderno Norma 2019
        </h5>
      </div>
      <div class="col-3">
        <h4 class="card-title text-center">Cantidad</h4>
        <h5 class="card-text">
          1
        </h5>
      </div>
      <div class="col-3">
        <h4 class="card-title text-center">Precio</h4>
        <h5 class="card-text">
          $1.50
        </h5>
      </div>
      <div class="col-2">
        <h4 class=" text-center"></h4>
        <h5 class="card-text">
          <br />
          <button type="button" class="btn btn-outline-danger btn-block"><i class="fas fa-trash-alt"></i> Borrar</button>
        </h5>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>