<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BUY-ON| Fazt</title>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>

  <div class="login-box">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY8zi_DLkYPW05dKxJeR9JC-vDvhZ71nfRk-WHeUGUDSq6lGer"
      class="avatar" alt="logionAngular">
    <h1>REGISTRO BUY-ON</h1>
    <form>
      <!-- USERNAME INPUT -->
      <label for="username">Usuario</label>
      <input type="text" placeholder="Usuario">
      <!-- PASSWORD INPUT -->
      <label for="password">Contraseña</label>
      <input type="password" placeholder="Contraseña">
      <input type="submit" value="ACCEDER" routerLink='/inicio'>
      <a href="www.facebook.com">OLVIDASTE TU CONTRASEÑA ?</a><br>
      <a href="www.youtube.com">NO TIENES UNA CUENTA?</a>
    </form>
  </div>
</body>

</html>